app-home {
  $radius: 15px;


  ion-title {
    user-select: none;
  }


  .ion-buttons {
    position: fixed;
    top: 20px;
    right: 10px;
    margin-top: -15px;

    -webkit-app-region: no-drag;

    ion-button {
      font-size: 10px;
      padding: 3px;
      border-radius: 50%;
      margin: 5px !important;
      height: 20px !important;
      width: 20px !important;
      color: white;
      $padding: 5px;
      --padding-top: $padding !important;
      --padding-end: $padding !important;
      --padding-bottom: $padding !important;
      --padding-start: $padding !important;
    }

    .minus {
      background-color: rgba(219, 157, 1, 0.9);
    }

    .plus {
      background-color: rgba(5, 181, 49, 0.9);
    }

    .close {
      background-color: rgba(214, 7, 7, 0.9);
    }
  }

  ion-toolbar {
    padding-top: 20px !important;
    --background: rgba(var(--ion-color-light-rgb), 0.98);
    background-color: rgba(var(--ion-color-light-rgb), 0.98);
    //backdrop-filter: blur(15px) saturate(180%);
    -webkit-app-region: drag;

    ion-title {
      font-weight: bold;
    }
  }

  .control-center {
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
    text-transform: capitalize;
  }

  .controllers {
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    margin: auto;

    .c-container {
      background-color: rgba(var(--ion-color-dark-rgb), 0.1);
      border-radius: $radius $radius 0 0;
      margin: auto;
      max-width: 500px;
    }

    &.hide {
      transform: translateY(100%);
    }
  }

  .is-50, .is-33, .is-25 {
    display: block;
    flex-grow: 1;
    height: calc(100% - 80px);
  }

  .is-50 {
    width: 50%;
  }

  .is-33 {
    width: 33.3%;
  }

  .is-25 {
    max-width: 20%;
  }

  .divisions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .division {

      height: 400px;
      background-color: rgba(var(--ion-color-dark-rgb), 0.2);
      margin: 16px auto;
      border-radius: $radius;
      user-select: none;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      //flex-wrap: wrap;

      .sensors {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        height: 200px;
        flex-grow: 1;
      }

      .name {
        font-weight: bold;
        width: 100%;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        margin: 16px;
        height: 50px;
      }

      .image {
        width: 70%;
      }
    }

    .wc, .sala, .quarto, .escada {
      width: calc(33.3% - 32px);
    }

    .cozinha {
      width: calc(66.6% - 32px);
    }

    .container {
      height: 100%;
      align-items: flex-start;
      flex-wrap: wrap;

      ion-toggle {
        margin-top: 20px;
      }
    }

    .increase {
      .value {
        //transform: translateY(15px);
      }
    }

    .value {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 28px;
      width: 100%;
      margin-top: 20px;
      text-align: center;
      transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }


    .sensor {
      transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      transform: scale(1);
      opacity: 1;
      cursor: pointer;
      //z-index: 99;
    }

    .increase {
      //transform: scale(1.3) translateY(-60px);
      transform: scale(0.8) translateY(-100px);
    }

    .decrease {
      transform: scale(0.8) translateY(-100px);
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
